language: php
sudo: false
php:
  - 5.5
  - 5.6
  - 7.0
  - hhvm
  - nightly
matrix:
  allow_failures:
    - php: nightly
    - php: hhvm
before_install:
  - composer selfupdate
install:
  - composer install --no-interaction --prefer-source
script:
  - ./vendor/bin/phpunit
notifications:
  email: false
